<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="manifest" href="afterschool.webmanifest" />
    <title>After School Club</title>
  </head>

  <body>
    <div id="app">
      <!-- Header Section -->
      <header>
        <!-- Navigation -->
        <nav class="navbar">
          <div class="navbar-container">
            <a href="javascript:void(0)" class="logo">
              <img
                src="https://ik.imagekit.io/0vdhtgagut/icon_uad6rbD3V?updatedAt=1706410663671"
                alt="Flowbite Logo"
                class="logo-image"
              />
              <span class="logo-text"
                >After School Club - Coursework Part2</span
              >
            </a>

            <button
              class="cart-button"
              :class="[cartLength <= 0 ? 'empty' : 'notEmpty']"
              :disabled="cartLength <= 0"
              @click.prevent="toggleCartDisplay"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="cart-icon"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"
                />
              </svg>
              <span class="cart-count">{{ cartLength }}</span>
            </button>
          </div>
        </nav>
      </header>

      <main class="mt-4">
        
        <strong class="test-elem">HTTPS Test: </strong>
        <a v-bind:href="serverURL" target="_blank">link</a>

        <button @click="deleteAllCaches" class="test-elem">
          <span class="fas fa-trash"></span>
          Delete All Caches
        </button>

        <button @click="unregisterAllServiceWorkers" class="test-elem">
          <span class="fab fa-uniregistry"></span>
          Unregister All SeriveWorkers
        </button>

        <div v-if="!isCartDisplaying" id="lessons" class="responsive-container">
          <div class="search-container">
            <input
              type="text"
              id="search"
              placeholder="Search lessons..."
              v-model="searchText"
            />
          </div>

          <div class="filter-container">
            <p class="filter-heading">Filter by:</p>
            <div class="filter-options">
              <div
                v-for="(sortOption, index) in sortOptions"
                :key="index"
                class="filter-option"
              >
                <input
                  type="radio"
                  name="filter"
                  v-model="sortBy"
                  :value="sortOption"
                  :id="sortOption"
                />
                <label :for="sortOption" class="capitalize"
                  >{{ sortOption }}</label
                >
              </div>
            </div>
          </div>

          <div class="order-container">
            <p class="order-heading">Order by:</p>
            <div class="order-options">
              <div
                v-for="(order, index) in orders"
                :key="index"
                class="order-option"
              >
                <input
                  type="radio"
                  name="order"
                  v-model="orderBy"
                  :value="order.value"
                  :id="order.value"
                />
                <label :for="order.value" class="capitalize"
                  >{{ order.text }}</label
                >
              </div>
            </div>
          </div>

          <div class="loading-container" v-if="loading">
            <iframe
              class="loading-frame"
              src="https://embed.lottiefiles.com/animation/99297"
              title="loading"
            ></iframe>
          </div>

          <div class="error-container" v-else-if="error">
            <iframe
              class="error-frame"
              src="https://embed.lottiefiles.com/animation/95614"
              title="error"
            ></iframe>
          </div>

          <div class="lessons-container" v-else-if="filteredLessons.length > 0">
            <div
              v-for="(lesson, index) in filteredLessons"
              :key="index"
              class="lesson-item"
            >
              <div class="lesson-image-container">
                <img
                  :src="`https://webcoursework2.eu-north-1.elasticbeanstalk.com/${lesson.image}`"
                  :alt="lesson.subject"
                  class="lesson-image"
                />
              </div>
              <div class="lesson-details">
                <p><strong>Subject:</strong> {{ lesson.subject }}</p>
                <p><strong>Location:</strong> {{ lesson.location }}</p>
                <p><strong>Price:</strong> £{{ lesson.price }}</p>
                <p><strong>Spaces:</strong> {{ lesson.spaces }}</p>
              </div>

              <div class="lesson-actions">
                <button
                  :disabled="lesson.spaces <= 0"
                  v-on:click.prevent="addToCart(lesson._id)"
                >
                  Add to cart
                </button>
              </div>
            </div>
          </div>

          <div class="empty-lessons-container" v-else>
            <iframe
              class="empty-frame"
              src="https://embed.lottiefiles.com/animation/93134"
              title="empty"
            ></iframe>
            <p class="empty-message">No lessons to show</p>
          </div>
        </div>

        <div v-else id="cart" class="responsive-container">
          <h2 class="cart-heading">Shopping Cart</h2>

          <div class="cart-items-container">
            <div v-if="!!this.cart.length" class="cart-grid">
              <div v-for="(item, index) in cart" :key="index" class="cart-item">
                <div class="cart-details">
                  <p><strong>Subject:</strong> {{ item.subject }}</p>
                  <p><strong>Location:</strong> {{ item.location }}</p>
                  <p><strong>Price:</strong> £{{ item.price }}</p>
                  <p><strong>Spaces:</strong> {{ item.spaces }}</p>
                </div>
                <img
                  :src="`https://webcoursework2.eu-north-1.elasticbeanstalk.com/${item.image}`"
                  :alt="item.subject"
                  class="cart-image"
                />
                <div class="cart-actions">
                  <button v-on:click.prevent="removeFromCart(item._id)">
                    Remove
                  </button>
                </div>
              </div>
            </div>

            <div v-else class="empty-cart-container">
              <div class="empty-cart-icon">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  class="w-16 h-16 text-gray-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4v16m8-8H4"
                  ></path>
                </svg>
              </div>
              <br />
              <br />
              <p class="empty-cart-message">Your cart is empty</p>
            </div>
          </div>

          <form v-on:submit.prevent="checkout">
            <div>
              <br />
              <label for="name">Name</label>
              <input type="text" id="name" v-model="checkoutForm.name.value" />
              <p v-if="checkoutForm.name.error">
                {{ checkoutForm.name.error }}
              </p>
            </div>

            <div>
              <label for="phone">Phone</label>
              <input type="tel" id="phone" v-model="checkoutForm.phone.value" />
              <p v-if="checkoutForm.phone.error">
                {{ checkoutForm.phone.error }}
              </p>
            </div>

            <!-- Display order details in real-time -->
            <div class="order-details">
              <h2>Order Information</h2>
              <p><strong>Name:</strong> {{ checkoutForm.name.value }}</p>
              <p><strong>Phone:</strong> {{ checkoutForm.phone.value }}</p>
            </div>

            <button :disabled="!isCheckoutFormValid">
              <div v-if="loading">
                <iframe
                  class="w-1/2"
                  src="https://embed.lottiefiles.com/animation/99297"
                  title="loading"
                ></iframe>
              </div>
              <span v-else>Checkout</span>
            </button>
          </form>
        </div>

        <!-- Footer Section -->
        <footer class="footer">
          <div class="footer-container">
            <p>After School Class, Coursework2 @ 2024 - By Bani.</p>
          </div>
        </footer>
      </main>

      <transition
        enter-active-class="transition ease-out duration-200 transform"
        enter-from-class="-translate-y-2"
        enter-to-class="translate-y-0"
        leave-active-class="transition ease-in duration-200 transform"
        leave-from-class="translate-y-0"
        leave-to-class="-translate-y-2"
      >
        <div
          v-if="checkedOut"
          id="toast-success"
          class="toast-container"
          role="alert"
        >
          <div class="icon-container">
            <svg
              aria-hidden="true"
              class="check-icon"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Check icon</span>
          </div>
          <div class="message-container">Checked out successfully.</div>
          <button
            @click.prevent="checkedOut = false"
            type="button"
            class="close-button"
            data-dismiss-target="#toast-success"
            aria-label="Close"
          >
            <span class="sr-only">Close</span>
            <svg
              aria-hidden="true"
              class="close-icon"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </button>
        </div>
      </transition>
    </div>

    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script type="module" src="./javascript/app.js"></script>
  </body>
</html>
